antlr4-python3-runtime==4.7
bokeh==2.2.3
certifi==2020.12.5
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
numpy==1.19.5
onnx==1.8.0
packaging==20.8
Pillow==8.1.0
protobuf==3.14.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
threadpoolctl==2.1.0
tornado==6.1
tqdm==4.56.0
typing-extensions==3.7.4.3
