<!-- footer -->
<footer class="footer page-footer font-tiny footer-container text-center">
  <div class='container-fluid pt-3 pb-3'>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">The EdgeML library is developed by <a
           href="https://www.microsoft.com/en-us/research/lab/microsoft-research-india/">
          Microsoft Research Lab India</a>. We welcome bug-reports,
         contributions, comments, and criticism to our <a
           href="https://github.com/Microsoft/EdgeML">GitHub</a> issue tracker.
         For questions, please write to <a
           href="mailto:edgeml@microsoft.com">edgeml@microsoft.com</a>.
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy & Cookie</a>
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">Terms of use</a>
      </div>
    </div>
  </div>
</footer>
